<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.mapper.ShooolmoneyMapper" >
  <resultMap id="BaseResultMap" type="com.zking.model.Shooolmoney" >
    <constructor >
      <idArg column="sm_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="mt_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="issuedate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="stopdate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="sm_money" jdbcType="REAL" javaType="java.lang.Float" />
    </constructor>
  </resultMap>


  <resultMap id="row" type="com.zking.model.Shooolmoney">
    <id column="sm_id" property="smId" javaType="java.lang.Integer"/>
    <result column="mt_id" property="mtId" javaType="java.lang.Integer"/>
    <result column="issuedate" property="issuedate" javaType="java.util.Date"/>
    <result column="stopdate" property="stopdate" javaType="java.util.Date"/>
    <result column="sm_money" property="smMoney" javaType="java.lang.Float"/>
    <association property="moneyType" javaType="com.zking.model.MoneyType">
      <id column="mt_id" property="mtId" javaType="java.lang.Integer" />
      <result column="mt_name" property="mtName" javaType="java.lang.String" />
    </association>
    <association property="moneyApply" javaType="com.zking.model.MoneyApply">
      <id column="ma_id" property="maId" javaType="java.lang.Integer" />
      <result column="sm_id" property="smId" javaType="java.lang.Integer" />
      <result column="tc_id" property="tcId" javaType="java.lang.Integer" />
      <result column="student_id" property="studentId" javaType="java.lang.Integer" />
      <result column="staff_id" property="staffId" javaType="java.lang.Integer" />
      <result column="auditdate" property="auditdate" javaType="java.util.Date" />
      <result column="disposedate" property="disposedate" javaType="java.util.Date" />
      <result column="applydate" property="applydate" javaType="java.util.Date" />
    </association>
    <association property="student" javaType="com.zking.model.Student">
      <id column="student_id" property="studentId" javaType="java.lang.Integer" />
      <result column="student_name" property="studentName" javaType="java.lang.String" />
      <result column="shooolmoney_status" property="shooolmoneyStatus" javaType="java.lang.Integer" />
      <result column="loans_status" property="loansStatus" javaType="java.lang.Integer" />

      <result column="student_sex" property="studentSex" javaType="java.lang.String" />
      <result column="student_address" property="studentAddress" javaType="java.lang.String" />
      <result column="student_age" property="studentAge" javaType="java.lang.Integer" />
      <result column="student_tel" property="studentTel" javaType="java.lang.String" />
      <result column="student_status" property="studentStatus" javaType="java.lang.Integer" />
      <result column="student_info" property="studentInfo" javaType="java.lang.String" />

    </association>

  </resultMap>



  <sql id="Base_Column_List" >
    sm_id, mt_id, issuedate, stopdate, sm_money
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_shooolmoney
    where sm_id = #{smId,jdbcType=INTEGER}
  </select>

  <select id="listZxj" resultMap="row">
    select * from t_shooolmoney sm
    left join t_money_type mt
    on sm.mt_id=mt.mt_id
    where 1=1
    and sm.mt_id in(#{mtId1},#{mtId2},#{mtId3})
      <if test="shooolmoney.smId != null">
        and sm.sm_id like CONCAT(CONCAT('%',#{shooolmoney.smId},'%'))
      </if>
  </select>
  <select id="findMoneyById" resultMap="row">
    select * from t_shooolmoney t_s
      inner join
      t_money_type t_m_t
      on
      t_s.sm_id=t_m_t.mt_id
      inner join
      t_money_apply t_m_a
      on
      t_m_t.mt_id=t_m_a.ma_id
      inner join
      t_student t_stu
      on
      t_s.sm_id=t_stu.student_id
      where t_s.sm_id=#{smId}

  </select>
  <select id="listMoney" resultMap="row">
    select * from t_shooolmoney t_s
      inner join
      t_money_type t_m_t
      on
      t_s.sm_id=t_m_t.mt_id
      inner join
      t_money_apply t_m_a
      on
      t_m_t.mt_id=t_m_a.ma_id
      inner join
      t_student t_stu
      on
      t_s.sm_id=t_stu.student_id
      where 1=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_shooolmoney
    where sm_id = #{smId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.model.Shooolmoney" >
    insert into t_shooolmoney (sm_id, mt_id, issuedate, 
      stopdate, sm_money)
    values (#{smId,jdbcType=INTEGER}, #{mtId,jdbcType=INTEGER}, #{issuedate,jdbcType=TIMESTAMP}, 
      #{stopdate,jdbcType=TIMESTAMP}, #{smMoney,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.model.Shooolmoney" >
    insert into t_shooolmoney
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="smId != null" >
        sm_id,
      </if>
      <if test="mtId != null" >
        mt_id,
      </if>
      <if test="issuedate != null" >
        issuedate,
      </if>
      <if test="stopdate != null" >
        stopdate,
      </if>
      <if test="smMoney != null" >
        sm_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="smId != null" >
        #{smId,jdbcType=INTEGER},
      </if>
      <if test="mtId != null" >
        #{mtId,jdbcType=INTEGER},
      </if>
      <if test="issuedate != null" >
        #{issuedate,jdbcType=TIMESTAMP},
      </if>
      <if test="stopdate != null" >
        #{stopdate,jdbcType=TIMESTAMP},
      </if>
      <if test="smMoney != null" >
        #{smMoney,jdbcType=REAL},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zking.model.Shooolmoney" >
    update t_shooolmoney
    <set>
      <if test="mtId != null" >
        mt_id = #{mtId,jdbcType=INTEGER},
      </if>
      <if test="issuedate != null" >
        issuedate = #{issuedate,jdbcType=TIMESTAMP},
      </if>
      <if test="stopdate != null" >
        stopdate = #{stopdate,jdbcType=TIMESTAMP},
      </if>
      <if test="smMoney != null" >
        sm_money = #{smMoney,jdbcType=REAL},
      </if>
    </set>
    where sm_id = #{smId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.model.Shooolmoney" >
    update t_shooolmoney
    set mt_id = #{mtId,jdbcType=INTEGER},
      issuedate = #{issuedate,jdbcType=TIMESTAMP},
      stopdate = #{stopdate,jdbcType=TIMESTAMP},
      sm_money = #{smMoney,jdbcType=REAL}
    where sm_id = #{smId,jdbcType=INTEGER}
  </update>

</mapper>