<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.zking.model.SysRole" >
    <constructor >
      <idArg column="roleid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="rolename" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="role_czr" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <resultMap id="listSysRole" type="com.zking.model.SysRole">
    <id column="roleid" property="roleid" javaType="java.lang.Integer"/>
    <result column="rolename" property="rolename" javaType="java.lang.String"/>
    <result column="description" property="description" javaType="java.lang.String"/>
    <result column="role_czr" property="roleCzr" javaType="java.lang.String"/>
    <result column="date" property="date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    <association property="staffType" javaType="com.zking.model.StaffType">
      <id column="st_id" property="stId" javaType="java.lang.Integer"/>
      <result column="st_name" property="stName" javaType="java.lang.String"/>
    </association>
  </resultMap>

  <sql id="Base_Column_List" >
    roleid, rolename, description, date, role_czr
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_role
    where roleid = #{roleid,jdbcType=INTEGER}
  </select>
  <select id="listSysRole" resultMap="listSysRole">
    select r.roleid,r.rolename,r.date,st.st_id,st.st_name,r.role_czr,r.description
    from t_sys_role r
    left join t_sys_role_staff srs
    on r.roleid=srs.roleid
    left join t_staff_type st
    on srs.st_id=st.st_id
    where 1=1
    <if test="rolename != null">
      and rolename like CONCAT(CONCAT('%',#{rolename},'%'))
    </if>
    ORDER BY  r.roleid ASC
  </select>
  <select id="getMax" resultType="java.lang.Integer">
        select max(roleid) from t_sys_role
  </select>
  <select id="loadByRoleid" resultMap="listSysRole">
      select r.*,st.* from t_sys_role r
      left  join t_sys_role_staff rs
      on r.roleid=rs.roleid
      left join t_staff_type st
      on rs.st_id=st.st_id where r.roleid=#{roleid};
  </select>
    <select id="findAll" resultMap="listSysRole">
      select roleid,rolename from t_sys_role ORDER BY roleid asc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sys_role
    where roleid = #{roleid,jdbcType=INTEGER}
  </delete>
  <delete id="deletesysRole">
    delete from t_sys_role where roleid=#{roleid}
  </delete>
  <delete id="deletesysRoleStaff">
    delete from t_sys_role_staff where roleid=#{roleid}
  </delete>
  <insert id="insert" parameterType="com.zking.model.SysRole" >
    insert into t_sys_role (roleid, rolename, description, 
      date, role_czr)
    values (#{roleid,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{roleCzr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.model.SysRole" >
    insert into t_sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="rolename != null" >
        rolename,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="roleCzr != null" >
        role_czr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="roleCzr != null" >
        #{roleCzr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="addSysRole" parameterType="com.zking.model.SysRole">
        insert into t_sys_role(rolename,description)
        values (#{rolename,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR})
  </insert>
  <insert id="addStaff" parameterType="com.zking.model.SysRoleStaff">
        insert into t_sys_role_staff(roleid,st_id)
        values(#{roleid,jdbcType=INTEGER},#{stId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.model.SysRole" >
    update t_sys_role
    <set >
      <if test="rolename != null" >
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="roleCzr != null" >
        role_czr = #{roleCzr,jdbcType=VARCHAR},
      </if>
    </set>
    where roleid = #{roleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.model.SysRole" >
    update t_sys_role
    set rolename = #{rolename,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      role_czr = #{roleCzr,jdbcType=VARCHAR}
    where roleid = #{roleid,jdbcType=INTEGER}
  </update>
  <update id="updatesysRole" parameterType="com.zking.model.SysRole">
        update t_sys_role set rolename=#{rolename,jdbcType=VARCHAR},description=#{description,jdbcType=VARCHAR}
       where roleid=#{roleid,jdbcType=INTEGER}
  </update>
  <update id="updatesysRoleStaff">
    update t_sys_role_staff set st_id=#{stId}
     where roleid=#{roleid}
  </update>
    <update id="updateRoleCzr">
        update t_sys_role set role_czr=#{roleCzr} where roleid=#{roleid}
    </update>
</mapper>